.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MyNavBar .link {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.Dashboard {
  padding: 1rem;
  display: block;
}

.search-bar .search-button {
  padding: 0.25rem;
  color: rgba(34, 33, 33, 0.805);
  width:2.5rem;
  background-color: rgb(219, 157, 41);
  border: 0;
  border-radius: 0.2rem;
  margin-left: 0.1rem;
}

.Products{
  list-style: none;
  padding: 0;
}

.Product {
  box-shadow: 0 0 10px 0 rgba(85, 85, 85,0.2);
}

.Product a{
  color: rgba(34, 33, 33, 0.805);
  text-decoration: none;
}

.Product label,span{
  font-size: 2rem;
  
}

.Product img{
  max-width: 100vw;
  max-height: 30vh;
}

.Error{
  color:red;
}

.Success{
  color:green
}

.function-btn {
  border: 0.5px solid black;
}

.item-info {
  padding: 1rem 0;
}

.Cart ul {
  list-style:none;
}

.Order {
  padding: 1rem;
}

.Order img {
  height: 25%;
}

.CategorySerach {
  border: 1px solid rgba(85, 85, 85,0.2);
} 

.CategorySerach h3 {
  margin: 1rem 0;
}

.CategorySerach a {
  text-decoration: none;
}

.CategorySerach .carousel-inner {
  background: #9a9da0;
}
.CategorySerach .carousel.slide a.carousel-control-prev, a.carousel-control-next {
  background-color: #343a40;
  opacity: 0.9;
}

.CategorySerach .carousel-indicators {
  display: none;
}