.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: flex;
  width:100%;
}

.Navbar{
  width: 100%;
}

#sideMenu {
 max-width: 30%;
 min-height: 100vh;
}

#sideMenu.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

#sideMenu.collapse.show {
  display: block;
  position: absolute;
}

.Dashboard {
  padding: 1rem;
  display: block;
}

